# Игнорируем папку __pycache__
__pycache__/

# Игнорируем скомпилированные файлы Python
*.pyc
*.pyo

# Игнорируем IDE и редакторы
.idea/
.vscode/

# Игнорируем виртуальные окружения
env/
venv/
.venv/

# Игнорируем зависимости и конфигурацию Poetry
poetry.lock
pyproject.toml
